extends layout
block content
    main.main
        .container.--m
            section.intro
                h1 See me? Good.
                h2 Means it's working.
                h3 Here are some examples.
            section.splide(aria-labelledby="splide-heading")
                h2#splide-heading Splide Basic HTML Example
                div.splide__track
                    - let i = 1;
                    ul.splide__list
                        while i < 5
                            li.splide__slide
                                .splide__slide-image.image.contain
                                    img.lazyload(src="./assets/img/featherwing.webp" data-src=`./assets/img/splide-${i}.webp`, alt=`Splide image ${i}`)
                            - i++
            section.fancybox-gallery
                h2 Fancybox gallery
                .fancybox-gallery-inner
                    - i = 1;
                    while i < 9
                        a.fancybox-gallery-item.image.cover(data-fancybox="gallery" data-src=`./assets/img/fancybox-${i}.webp` data-caption=`Image ${i}`)
                            img.lazyload(src="./assets/img/featherwing.webp" data-src=`./assets/img/fancybox-${i}.webp`, alt=`Gallery image ${i}`)
                        - i++
            section.fancybox-inline
                h2 Fancybox inline modal with custom content
                button.button(data-fancybox data-src="#echos-fb-content" style="display:block;margin:0 auto;") Open Echo's Popup
                div#echos-fb-content.popup
                    .popup-inner
                        h2 Echo Anya did this~
                        .image.cover
                            img.lazyload(src="./assets/img/featherwing.webp" data-src="./assets/img/Echo-2.webp" alt="Her majesty")
                        p And she did it with style, baby~
                        button.button(data-fancybox-close) Close
            section.forms
                h2 Forms/inputs custom validation preset
                form.form 
                    div.input-wrapper
                        label.label(for="name") Name, only letters and ' -
                        input#name.input.input_name(type="text")
                    div.input-wrapper
                        label.label(for="tel") Phone number in specific format
                        input#tel.input.input_tel(type="tel")
                    div.input-wrapper
                        label.label(for="email") Email, RFC compliant check
                        input#email.input.input_email(type="email")
                    div.input-wrapper.input-wrapper_checkbox
                        input#consent.input_consent(type="checkbox")
                        label.label(for="consent") Policy consent
                    div.input-wrapper.input-wrapper_checkbox
                        input#promo.input_promo(type="checkbox")
                        label.label(for="promo") Promo consent (same as policy in essence)
                    button.button(type="submit") Fake submit